.card {
    background-color: white;
    border-radius: 15px;
    border: 3px solid white;
    box-shadow: 0px 0px 20px rgb(230,230,230);
}
@media all and (max-width:767px){
    .card {
        border:6px solid white;
        border-radius: 30px;
    }
}
 a,
 a div{
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;
}

a:hover,
a:hover div{
    color:#0065FC;
    transform: scale(1.01);

}

.blue-star {
    color:#0065FC;
}

.grey-star {
    color:#D9D9D9;
}
