footer {
    width:100%;
    height:200px;
    margin: 0px;
    background-color: #F2F2F2;
    display: flex;
    justify-content: flex-start;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:30px;
    flex-wrap: wrap;
}

.footer-list {
    width:33%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;

}

.footer-list h3{
    margin-bottom:15px;
}

@media all and (max-width:767px){

    footer {
        height:auto;
    }

    .footer-list{
        width:100%;
        margin-bottom: 10px;
    } 
}