footer {
    width:100%;
    margin: 0px;
    background-color: #F2F2F2;
    display: inline-flex;
    justify-content: flex-start;
    padding-top:30px;
    padding-bottom: 30px;
    padding-left:70px;
}

.footer-list {
    width:33%;
}