/* GLOBAL */
* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    font-weight: 500;
}

h1{
    font-size:24px;
    font-weight: 700;
}

h2{
    font-size:19px;
    font-weight: 700;
}

h3{
    font-size:15px;
    font-weight: 500;
    
}

p{
    font-size: 14px;
    font-weight:300;
}

a, a:hover, a:visited {
    text-decoration:none;
    color:black;
    font-size:14px;
    font-weight:300;
}

ul {
    list-style-type: none;
}

.fa-star{
    font-size: 12px;
}