/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    width: 95%;
    height:80px;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media all and (max-width: 768px)
{
    header {
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        height:130px;
    }
}


/* NAV */

#logo{
    display: flex;
    margin:auto 0;
    width:100px;
    height:auto;
    margin-left: 10px;
}

nav{
    display: flex;
    justify-content: space-between;
    width:220px;

    
}
nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid transparent;
}

nav a:hover {
    border-top: 4px solid #0065FC;
    color:#0065FC;
}

@media all and (max-width: 768px)
{

    nav{
        width:100%;
    }

    nav a {
        border-top:none;
        border-bottom: 4px solid transparent;
        width:100%;
        padding-bottom: 20px;
    }

    nav a:hover {
        border-top:none;
        border-bottom: 4px solid #0065FC ;
    }

}
