/* MAIN */
main {
    width: 95%;
    margin:0 auto;

}

#location-popular {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#location, #popular {
    background-color: #F2F2F2;
    padding: 30px;
    border-radius: 30px;

}

/* LOCATIONS */

#location {
    width: 1000px;
    height: 700px;
}
.location-grid {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:center;
}

.location-card {
    margin-bottom:25px;
}

.img-location {
    width:260px;
    height:130px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.location-card-description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:15px;
}
.location-card-description p{
    margin:0;
    margin-bottom:5px;
}
.location-card-description h3{
    margin:0;
    margin-top:5px;
    margin-bottom: 5px;
}

.location-card-stars {
    margin-left:15px;
}
/* POPULAR */

#popular {
    width:400px;
    height:700px;
}

.popular-title {
    display:flex;
    justify-content: space-between;
    margin-bottom:10px;
}

.fa-chart-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.popular-card {
    width:350px;
    margin-bottom: 30px;
}
.popular-card a{
    display: flex;
    align-items: space-evenly;
    
}
.img-popular {
    width:150px;
    height:150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}
.popular-card-description h3{
    margin:0;
    margin-top:10px;
    margin-bottom: 12px;
    margin-left: 15px;
}
.popular-card-description p{
    margin:0;
    margin-left:15px;
    margin-bottom: 50px;
}

.popular-card-stars {
    margin-left:15px;
}
