/* MAIN */
main {
    width: 100%;
    margin:0 auto;
}

#location-popular {
    width:95%;
    margin:0 auto;
}
@media all and (max-width:767px){
    #location-popular{
        width: 100%;
        margin:0 auto;
    }
}

#activities {
    width:95%;
    margin:0 auto;
}


@media all and (max-width:767px){
    main {
        width:100%;
        margin:0;
    }
    #activities{
        width:100%;
        margin:0;
    }
}

#location-popular {
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-wrap: wrap-reverse;
    margin-bottom: 3%;
}

#location,
#popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 50px;
    padding-top: 20px;
}

@media all and (max-width:767px){
    #location,
    #popular {
       border-radius:0px;
    }

    #location{
        background-color:white;
    }
    
}

/* LOCATIONS */

#location {
    width: 66%;
    /* min-height:600px; */
    margin:0;
}
@media all and (min-width:768px) and (max-width:991px){
    #location{
        width:65%;
        min-height: 700px;
    }
}
@media all and (max-width:767px){
    #location {
        width:100%;
        margin:0;
    }
}

/* hébergements à Marseille */
.location-title {
    margin-top: 2%;
    margin-left:2%;
    margin-bottom: 2%;
}
@media all and (max-width:767px){
    .location-title {
        margin-bottom: 4%;
    }
}


.location-grid{
    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.location-grid a{
    width:30%;
    margin:1%;
}

@media all and (min-width:768px) and (max-width:991px){

    .location-grid{
        height:720px;
        align-items: flex-start;
    }

    .location-grid a{
        width:40%;
        margin:0%;
    }
}

@media all and (max-width:767px){
    .location-grid a{
        width:90%;
    }
}

/* Cartes hébergements */

 .location-card {
    width:100%;

}

.location-card-img {
    width:100%;
    height:100px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}
.location-card-description {
    width:100%;
    padding-left:5%;
}

.location-card-description h3,
.location-card-description h4{
    margin-bottom: 2%;
    margin-top:3%;
}

.location-card-stars {
    width:50%;
    padding-left:5%;
    display: inline-flex;
    justify-content: flex-start;
    margin-bottom:7px;
}
@media all and (min-width:768px) and (max-width:991px) {
    .location-card{
        min-height:200px;
    }
}
@media all and (max-width:767px){

    .location-card{
        height:390px;
        margin-bottom: 2%;
    }
    .location-card-img{
        height:68%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        
    }
    .location-card-description {
        padding-left:4%;
    }
    .location-card-description h3{
        margin:0;
        margin-top: 1%;
        margin-bottom: 1%;
    }
    .location-card-description h4{
        margin:0;
        margin-bottom: 1%;
    }
    .location-card-stars {
        margin:0;

    }
}


/* Afficher plus */
#location > a  {
    display: flex;
    justify-content: flex-start;
    margin-left:3%;
    margin-top:2%;
    padding-bottom: 3%;
}

.location-more{
    margin-top:2%;
    margin-bottom: 2%;
    font-size:13px;
    font-weight: 700;
}
@media all and (max-width:767px) {
    .location-more{
        font-size: 28px;
        padding-left: 2%;
    }
}


/* POPULAR */

 #popular {
    width:32%;
    /* min-height:600px; */
    margin:0%;
}

.popular-grid{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.popular-grid a{
    width:80%;
    margin-bottom:8%;

}

@media all and (min-width:768px) and (max-width:991px){

    #popular{
        width:33%;
    }
    .popular-grid a{
        width: 95%;
    }
}

@media all and (max-width:767px){
    #popular {
        width:100%;
        padding-bottom: 5%;
        margin:0%;
        margin-bottom: 3%;
    }
    .popular-grid a{
        width:90%;
        margin-bottom:3%;
    
    }
}

/* Les plus populaires */
.popular-title {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 9%;
    margin-right: 9%;
    margin-top: 3%;
    margin-bottom: 7%;

}

.fa-chart-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

@media all and (max-width:767px){
    .popular-title{
        margin-left:5%;
        margin-right: 5%;
    }
    .fa-chart-line {
        font-size: 35px;
    }
}

/* carte populaire */
.popular-card {
    width:100%;
    margin:0 auto;
    display: flex;
}

.popular-card-img{
    width:40%;
    height:120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit:cover;
}

.popular-right-menu{
    width:60%;
    height:120px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 6%;
    margin-right: 4%;

}


.popular-card-description h3,
.popular-card-description h4{
    margin:0;
    margin-bottom: 2%;
    margin-top:7% ;
}

.popular-card-stars {

    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    padding-bottom:6%;
} 

@media all and (max-width:767px){

    .popular-card{
        width: 100%;
    }

    .popular-card-img{
        width:35%;
        height:190px;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
    }
    
    .popular-right-menu{
        width:65%;
        height:190px;
        padding-right: 60px;
    }
}
/* ACTIVITIES */
#activities{
    padding-bottom:1%;
}

.activities-title {
    margin-left:0.3%;
    position: relative;
    top:10px;
}

@media all and (max-width:767px){
    .activities-title {
        margin-left: 5%;
        margin-bottom:5%;
    }
}

/* Activities grid */

.activities-grid{
display: flex;
justify-content: space-between;
flex-direction: row;
flex-wrap: wrap;
}

.single,
.couple{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width:23%;
    height:600px;
}

/* Activities card */

    .activity-card{
        border:none;
    }


/* Activities large card */
.activities-card-large-item{
    height:535px;
}

.activities-card-large-item img{
    width: 100%;
    height:90%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

/* Activities medium card */
.activities-card-medium-item{
    height:300px;
}
.activities-card-medium-item img{
    width: 100%;
    height:83%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


/* Activities small card */
.activities-card-small-item{
    height:200px;
}
.activities-card-small-item img{
    width: 100%;
    height:73%;
    object-fit: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


@media all and (min-width:768px) and (max-width:991px){
    .single,
    .couple{
        width:45%;
    }
}


@media all and (max-width:767px){
    .single,
    .couple{
        display: block;
        width:100%;
        height: auto;
    }
    .activities-card-large-item,
    .activities-card-medium-item,
    .activities-card-small-item{
        width:90%;
        height:340px;
        margin:0 auto;
        margin:4%;
    }
    .activities-card-large-item img,
    .activities-card-medium-item img,
    .activities-card-small-item img{
        width:100%;
        height:78%;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    /* .activity-card{
        border:none;
    } */
}

/* description activities */

.title-activity{
    margin-top:5%;
    padding-left:5%;
}
@media all and (max-width:767px) {
    .title-activity{
        margin:0;
        margin-top:2%;
        margin-bottom: 4%;
    }
}
