/* MAIN */
main {
    width: 95%;
    margin:0 auto;

}

#location-popular {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

#location, #popular {
    background-color: #F2F2F2;
    border-radius: 20px;
    margin-bottom: 50px;
    padding-top: 20px;

}

/* LOCATIONS */

#location {
    width: 66%;
    min-height:550px;
    margin:0;
}

.location-title {

    margin-left:30px;
}

.location-grid {
    width:100%;
    min-height:380px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content:space-between; 
}

.location-card {
    width:28%;
    height:100%;
    margin:5px;
    margin-bottom: 20px;
}

.location-card-img {
    width:100%;
    height:90px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    object-fit:cover;
}

.location-card-description {
    width:100%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left:7px;
}
.location-card-description p{
    margin:0;
    margin-bottom:5px;
}
.location-card-description h3{
    margin:0;
    margin-top:5px;
    margin-bottom: 5px;
}

.location-card-stars {
    width:50%;
    margin-left:7px;
}
.location-more {
    margin-top: 20px;
    margin-bottom: 40px;
    margin-left:30px;
}

/* POPULAR */

 #popular {
    width:32%;
    min-height:550px;
    margin:0;
}
.popular-grid{
    width:100%;
    min-height:430px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popular-title {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;

}

.fa-chart-line {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
}

.popular-card {
    width:90%;
    padding-right:10px;

}
.popular-card a{
    display: flex;
    align-items: space-evenly;
    justify-content: center;
    
}
.popular-card-img{
    width:40%;
    height:120px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    object-fit:cover;

}

.popular-right-menu{
    width:60%;
    height:120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.popular-card-description h3,
.popular-card-description p{
    margin:0;
    margin-left: 15px;
}

.popular-card-stars {
    margin-left:15px;
} 

/* ACTIVITIES */
#activities {
    padding-top:30px;
    padding-bottom: 30px;

}
.activities-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activities-card-large {
    width:23%;
    height:300px;
    margin:0px;
    padding: 0px;
    box-shadow: 0px 5px 6px rgb(150,150,150);
    border-radius: 15px;


}


.activities-card-large img {
    width: 100%;
    height: 260px;
    object-fit:cover;
    object-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

}

.activities-card-medium{
    width:22%;
}

.activities-card-medium-item {
    width:100%;
    height:135px;
    margin:0px;
    margin-bottom: 30px;
    padding: 0px;
    box-shadow: 0px 5px 6px rgb(150,150,150);
    border-radius: 15px;
}


.activities-card-medium-item img {
    width: 100%;
    height: 95px;
    object-fit:cover;
    object-position: 50% 50%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;    

}

.title-activity{
    margin:0;
    margin-top:10px;
    margin-left: 10px;
    margin-bottom: 15px;
    display:flex;
    align-items: center;
}
